<div
  class="app-pagination w-full flex flex-column lg:flex-row align-items-start lg:align-items-center justify-content-between gap-3"
>
  @if (hasRowsPerPageOptions()) {
    <div class="w-full lg:w-auto flex flex-wrap align-items-center gap-2">
      <span class="app-pagination__label">
        {{ itemsPerPageLabel() }}
      </span>

      <p-select
        [options]="selectOptions()"
        optionLabel="label"
        optionValue="value"
        [ngModel]="rows()"
        (ngModelChange)="handleRowsChange($event)"
        appendTo="body"
        class="app-pagination__select"
      ></p-select>
    </div>
  }

  <div class="w-full lg:w-auto">
    <p-paginator
      [first]="first()"
      [rows]="rows()"
      [totalRecords]="totalRecords()"
      [showCurrentPageReport]="showCurrentPageReport()"
      [currentPageReportTemplate]="currentPageReportTemplate()"
      [showPageLinks]="showPageLinks()"
      [showFirstLastIcon]="showFirstLastIcon()"
      (onPageChange)="handlePageChange($event)"
      class="app-pagination__paginator"
    ></p-paginator>
  </div>
</div>
